.container {
    display: flex;
    align-items: center;

    & > .btn {
        transition: all 0.3s;
        border: 1px solid var(--theme-primary-color);
        border-radius: 4px;
        background-color: transparent;
        padding: 0.5rem 1rem;
        color: var(--theme-text-color);
        color: var(--theme-primary-color);
        white-space: nowrap;

        &:hover {
            background-color: var(--theme-primary-color);
            color: var(--theme-bg-color);
        }
    }

    & >.avatar {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        & > img {
            position: relative;
            transform-origin: center center;
            z-index: 1003;
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            will-change: transform;
            cursor: pointer;
            outline: none;
            border: 2px solid var(--theme-border-color);
            border-radius: 50%;
            background-color: white;
            width: 2rem;
            height: 2rem;
            object-fit: cover;

            &:hover {
                border-color: var(--theme-primary-color);
            }
        }
    
        &.active {
            & > img {
                transform: translate(-16px, 32px) scale(2);
            }

            & .dropdown {
                display: block;
                animation: slideDown 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }    
}

.dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 16px);
    left: calc(50% - 16px);
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--theme-border-color);
    border-radius: 4px;
    background-color: var(--theme-bg-color);
    padding: 3rem 1rem 1rem 1rem;
    min-width: 150px;

    & button {
        display: block;
        transition: all 0.3s;
        margin: 0.5rem 0;
        outline: none;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        padding: 0.5rem;
        width: 100%;
        color: var(--theme-text-color);

        &:hover {
            background-color: var(--theme-hover-bg);
            color: var(--theme-primary-color);
        }
    }
}

@keyframes slideDown {
    from {
        transform: translateX(-50%) translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}
